.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #AB95F9;

    h1 {
        font-size: 25px;
        margin-left: 5vw;
        color: white; 
    }
}