<ion-header>
    <div class="header">
        <h1 class="logo">Logo</h1>
   
    <div class="link">
    <span>Link one</span>
    <span>Link two</span>
    <span>Link three</span>
    <span>Link four</span>
    <span>Link five</span>
</div>
    <div class="sub">
        <div>Subscribe</div>
        <div class="email">
            <input placeholder="Enter your email">
            <button>Subscribe</button>
        </div>
        <div class="subscribing">By subscribing you agree to with our Privacy Policy</div>
    </div>
</div>
</ion-header>
